<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Diego Stewart y Miguel Polo.
</p>

<img src="/images/Diego.jpeg" />
<img src="/images/Polo.png" />

<p> https://github.com/diegostewart/quiz_2017  <p>

