<h1>Ayuda</h1>

<p> 
Es un estilo de juego o deporte mental en el cual jugadores intentan responder de manera correcta algunas preguntas que se les propone.</p>


<p> Para responder basta con escribir la respuesta en la casilla, y a continuación pulsar el boton comprobar. </p>
 

<p> Quiz es una red social para crear adivinanzas, que permite a varios usuarios compratir adivinanzas.  </p>



